nav > ul {
    list-style-type: none;
}

.mainheading {
    font-size: 75px; 
    text-align: center;
    margin: 20px 0;
    color: rgb(85, 83, 83);
}

body {
    background-color: #798be6a6;
}

html {
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(0,0,0,0.75)), url("Web Dev Images/bowlingalley.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}