nav > ul {
    list-style-type: none;
}

.mainheading {
    font-size: 75px; 
    text-align: center;
    margin: 20px 0;
    color: rgb(85, 83, 83);
}

html {
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(0,0,0,0.75)), url("Web Dev Images/bowlingalley.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding: 10px;
}

.grid > div {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}