nav > ul {
    list-style-type: none;
}

h1 {
    font-size: 75px; 
    text-align: center;
    margin: 20px 0;
    color: rgb(85, 83, 83);
    text-shadow: 2px 2px black;
    font-family:'Courier New', Courier, monospace;
}

h2 {
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
}

html {
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(0,0,0,0.75)), url("Web Dev Images/bowlingalley.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    margin-left: 7.95%;
    margin-right: 7.95%;
    background-color: rgba(85, 83, 83, .75);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 10px;
}

main a {
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

main a:hover {
    outline: 1px solid black;
}

main img {
    width: 200px;
    height: 200px;
}

footer {
    text-align: center;
    color: rgb(255, 255, 255);
}

