/* Layout for Phones */
@media only screen and (max-width: 480px){
    .topnav, .content{
        flex: 10 2 auto;
        flex-direction: column;
    }
}

/* Layout for Tablets */
@media only screen and (min-width:480px){
    .topnav, .content{
        flex: 10 2 auto;
        flex-direction: column;
    }

}

/* Layout for Computers */
@media screen and (min-width:768px){
    .topnav, .content{
        flex: 10 2 auto;
        flex-direction: column;
    }

    .grid {
        box-sizing: border-box;
    }
}
