.topnav {
    background-color: rgb(47, 48, 48);
    overflow: hidden;
}

.topnav ul {
    display: flex;
    justify-content: center;
    align-items: center;                         
    padding: 0;                 
    margin: 0;                  
}

.topnav li {
    display: flex;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: rgb(4, 170, 109);
    color: white;
}